---
interface Props {
  className?: string;
}

const { 
  className 
} = Astro.props;
---

<h2 class={`font-cardo font-extrabold text-4 xl:text-9 leading-none text-primary_super ${className}`}>
  <slot />
</h2>
